/.vs/patchTestLib/v16
/Debug/d3dx9d_43.dll
/Debug/d3dx11d_43.dll
/Debug/d3dx10d_43.dll
/Debug/D3DCompiler_43.dll
/Debug/simple.cso
/Debug/Sample.pdb
/Debug/Sample.exe
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/patchTestLib/Debug
/patchTestLib/Release
/Sample/Debug
/patchTestLib/patchTestLib.vcxproj.user
/patchTestLib/patchTestLib.user
/Sample/Sample.vcxproj.user
/patchTestLib/x64/Debug
/Sample/x64/Debug
/x64/Debug
